.a{
  border:  2px solid black;
}

.b{
  border:  2px solid red;
}

.c{
  border:  2px solid green;
}

.d{
  border:  2px solid blue;
}

.e{
  border:  2px solid yellow;
}


.f{
  border:  2px solid aqua;
}


.travel-img{
  border:  2px solid black;
  max-height: 500px;
}

.demo-btn{
  height: 50px;
    width:   50px;
}

.destinatio-images {
  height: 550px;
  object-fit: cover;
}
